@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat&display=swap");
.App {
min-height: 100vh;
  height: auto;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
 
h1 {
  font-family: "Fredoka One", cursive;
  color: #5c6b60;
}
 
pre {
  font-size: 25px;
  color: #646669;
}
 
hr {
  margin-top: 22px;
  width: 61%;
}
 
.input {
  width: 200px;
  height: 40px;
  border: 2.5px solid #606263;
  border-radius: 10px;
  padding-left: 6px;
  font-size: 23px;
}
.lyrics{
  list-style: none;
  
}
.btn{
  border: none;
  background-color: transparent;
  font-size: 17px;
}